.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
  display: block;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.headerHomeImage {
  width: 6rem;
  height: 6rem;
  display: block;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}
